<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel='stylesheet' href='/styles/index.css'/>
</head>
<body>
    <%- include('components/header') %>
    <main class='main-section'>
        <form class='form'>
            <section class='input-field'>
                <label for='email'>Email</label>
                <input
                    type='email'
                    required
                    name='email'
                    class='form-input'/>
            </section>
            <section class='input-field'>
                <label for='password'>Password</label>
                <input
                    type='password'
                    required
                    name='password'
                    class='form-input'/>
            </section>

            <% if(locals.error_message) { %>
                <p class="warning-text centered-text"><%= locals.error_message %></p>
            <% } // if error is present %>
            <input 
                type='submit'
                formmethod='POST'
                formaction='login'
                class='page-button regular'
                value='Log in'/>
        </form>
    </main>
</body>
</html>