<table class='menu-items-table'>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity in Stock</th>
        <th>Is Discontinued</th>
    </tr>
    <tr>
        <td><%= locals.display_items.name %></td>
    </tr>
</table>